* {
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .field {
    display: flex;
    max-width: 800px;
    min-width: 380px;
    flex-wrap: wrap;
    .btn-wrapper {
      padding: 5px;
      width: 10%;
      .button {
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
      }
      .clicked {
        background: red;
      }
      .button:hover {
        cursor: pointer;
      }
      .disabled {
        background: rgba(59, 59, 59, 0.3);
        cursor: auto;
      }
    }
  }
  .bet-section {
    display: flex;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
      width: 33.3%;
      padding: 10px;
      input {
        flex: 1;
        height: 40px;
        margin-left: 10px;
        width: 100%;
      }
    }
  }
  .bold {
    font-weight: bold;
  }
}
